* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
  width: 8%;
  height: 100%;
  position: fixed;
  background: #e0f7fa;
  padding: 8px;
  box-shadow: 5px 10px #fffc;
}
.sidebar ul {
  float: left;
  list-style-type: none;
  margin-top: 50px;
  margin-left: 0px;
}
.sidebar ul li {
  display: inline-flex;
  margin: 2px;
}
.sidebar li button {
  border: none;
  background-color: #e0f7fa;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.4s ease;
}
.sidebar li button:hover {
  color: #ff5252;
}
.sidebar img {
  width: 15px;
  height: 15px;
}
.topbar {
  background: #f5f5f5;
  padding: 30px;
  box-shadow: 5px 10px #fffc;
}
.topbar ul {
  float: right;
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 25px;
}
.topbar li {
  display: inline-block;
}
.topbar li a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  transition: 0.4s ease;
}
.topbar li a:hover {
  color: #ff5252;
}
.signin {
  text-decoration: none;
  color: #1565c0;
  padding: 5px 10px;
  transition: 0.4s ease;
  border-radius: 16px;
}
.signin:hover {
  color: #1565c0;
  background-color: #cfd8dc;
}
.signup {
  text-decoration: none;
  color: #fff;
  background-color: #03a9f4;
  padding: 5px 10px;
  transition: 0.4s ease;
  border-radius: 16px;
}
.signup:hover {
  color: rgb(255, 255, 255);
  background-color: #1565c0;
}

.topbar h3 {
  float: left;
  margin-left: 100px;
}
.layoutTitle {
  margin-left: 200px;
  margin-top: 15px;
}
.topbar img {
  width: 20;
  height: 20;
}
.postsCards {
  margin-left: 20%;
}
.card {
  float: left;
}
.box {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 10px;
  line-height: 180%;
  width: 250px;
  height: 100;
  font-size: 13px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #999;
}
.box:hover {
  background-color: #eceff1;
}

.formPopup {
  display: none;
  position: fixed;
  top: 15%;
  left: 35%;
  border: 3px solid #f1f1f1;
}
.formContainer {
  max-width: 400px;
  padding: 10px;
  background-color: white;
}
.formContainer h3 {
  color: #1a237e;
  background-color: #fff9c4;
}
.formContainer input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.formContainer input:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  background-color: #81c784;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #f44336;
}
.formContainer .btn:hover {
  opacity: 1;
}
.deleteForm h3 {
  background-color: azure;
}
.deleteForm .btn{
width: 48%;
border-radius: 20px;
}
p span {
  display: block;
}
.editButton {
  border-radius: 10px;
  float: left;
  margin-top: 15px;
  cursor: pointer;
  background-color: #ffff;
  border: 2px solid #0000;
}
.deleteButton {
  border-radius: 10px;
  float: right;
  margin-top: 15px;
  cursor: pointer;
  background-color: #ffff;
  border: 2px solid #0000;
}
.deleteButton img {
  width: 12px;
  height: 12px;
}
.editButton img {
  width: 12px;
  height: 12px;
}
.editButton:hover {
  background-color: #81c784;
}
.deleteButton:hover {
  background-color: #f44336;
}
