*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    width: 100px;
    height: 1000px;
    position: fixed;
    background: rgb(172, 176, 179);
    padding: 8px;
}
.sidebar ul{
    float: left;
    list-style-type: none ;
    margin-top: 25px;
    margin-left: 0px;
}
.sidebar ul li{
    display: inline-flex;
    margin: 2px;
}
.sidebar li a{
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border: 0.5px solid #000;
    transition: 0.4s ease;
}
.sidebar li a:hover{
    background-color: #000;
    color: #fff;
}
.sidebar img{
    width: 15;
    height: 15;
}
.topbar{
    background: #eeeeee56;
    padding: 30px;
}
.topbar ul{
    float: right;
    list-style-type: none;
    margin-bottom: 10px;
    margin-right: 25px;
}
.topbar li{
    display: inline-block;
}
.topbar li a{
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border: 0.5px solid #000;
    transition: 0.4s ease;
}
.topbar li a:hover{
    background-color: #000;
    color: #fff;
}
.topbar li b{
    text-decoration: none;
    color: rgb(62, 104, 241);
    padding: 5px 10px;
    border: 0.5px solid #eeeeee56;
    transition: 0.4s ease;
}
.topbar li b:hover{
    color: rgb(62, 104, 241);
    background-color: rgb(156, 156, 158);
}
.topbar li c{
    text-decoration: none;
    color: #fff;
    background-color: blue;
    padding: 5px 10px;
    border: 0.5px solid rgb(0, 0, 255);
    transition: 0.4s ease;
}
.topbar li c:hover{
    color: rgb(255,255,255);
    background-color: rgb(80, 80, 255);
}

.topbar h3{
    float: left;
    margin-left: 100px;
}
h2{
    margin-left: 140px;
    margin-top: 20px;
}
.topbar img{
    width: 40;
    height: 20;
}
